$mainFont: 'Questrial', sans-serif;
$links: #fff;
$mainbg: #000;

html {
   background-color:$mainbg;
   height:100%;
}

body {
   background-color:$mainbg;
   font-family: $mainFont;
   font-weight: 500;
   line-height:1;
   color:#fff;
   height:100%;
   font-size:16px;
}

h1,h2,h3,h4 {
    font-family: $mainFont;
    text-transform: uppercase;
    margin:0px;
}

h2 {
    text-align: center;
    font-size: em(12);
    letter-spacing: 4px;
    font-weight: 100;
    margin-bottom:20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

p {
    font-family: $mainFont;
    padding:0px;
    margin:0px;
    text-align: center;
    font-size: em(8);
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 21px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;

}

:-moz-selection { color: #000;  background: transparent; }
::selection  { color: #000;  background: transparent; }


a,a:visited,a:active {
    color:#fff;
    text-decoration: none!important;
    position: relative;
}

a:link:hover {
    text-decoration: none!important;
}

ul {
    margin:0px;
    padding:0px;

    li {
        list-style: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        a {
            display: block;
        }

    }
}

a[href^=tel]{
    color:inherit;
    text-decoration:none;
}

#container {
	// padding-top: 50px;
}
